* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .section2 .container {
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
  }
  .section2 .container .items {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: white;
    
    
  }
  .section2 .container .items .name {
    text-align: center;
    background-color: rgb(240, 197, 6);
    height: 38px;
    padding-top: 4px;
    color: white;
    margin: 0;
  }
  .section2 .container .items .price {
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: rgb(84, 53, 2);
    font-weight: 650;
  }
  .section2 .container .items .info {
    padding-left: 10px;
    color: rgb(243, 168, 7);
  }
  .section2 .container .items .img img {
    width: 200px;
    height: 220px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transition-duration: 0.8s;
  }
  .section2 .container .items .img {
    overflow: hidden;
    margin: 0;
  }
  .section2 .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
  }
  .items {
    overflow: hidden;
  }
  
    .items {
      transform: scale(0.9);
    }
    .img-slider img {
      height: 400px;
      width: 1000px;
    }
    
  
    @keyframes slide1 {
      0% {
        left: 0%;
      }
      10% {
        left: 0%;
      }
      20% {
        left: -25%;
      }
      30% {
        left: -50%;
      }
      40% {
        left: -75%;
      }
      50% {
        left: -100%;
      }
      60% {
        left: -125%;
      }
      70% {
        left: -150%;
      }
      80% {
        left: -175%;
      }
      90% {
        left: -200%;
      }
      100% {
        left: 0%;
      }
    }
    
    
    .img-slider {
      display: flex;
      float: left;
      position: relative;
      width: 80%;
      height: 60%;
      animation-name: slide1;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      transition-duration: 2s;
    }
    .section1 {
      width: 80%;
      overflow: hidden;
  
      justify-content: center;
      align-items: center;
      margin: 0px auto;
    }

    